<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Launastuðull</title>
    <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css" crossorigin="anonymous">

  </head>
  <body>
    <div class="container" id="app">

      <div class="row">
        <div class="col">
          <h2 class="text-center my-2">Launastuðull</h2>
          <p>Lágmarkslaun á Íslandi eru um <b>257.000 ISK</b> á mánuði.</p>
          <p>Hvað ef laun allra opinberra starfsmanna væru tengd, þannig að ekki væri hægt að hækka launs ákveðins hóps, nema hækka laun allra?
          Fyrst þyrfti að ákveða "stuðul", sem lýsir hversu mikill munur er innbyrðis á milli stétta.</p>
          <p>Hér fyrir neðan eru einföld <b>DÆMI</b>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 my-2">
          <label for="original_amount">Hér geturu breytt lágmarkslaunum</label>
        </div>
        <div class="col-12 col-lg-6 my-2">
          <button v-for="item in examples" class="btn btn-sm btn-secondary" v-on:click="updateTotalSal(item.price)">{{ item.price }}</button>
          <input class="form-control" type="range" min="257000" max="2000000" v-model="totalSalary" />
          <div class="input-group input-group">
            <span class="input-group-addon">Kr</span>
            <input type="number" class="form-control" v-model="totalSalary" placeholder="Original Amount" id="original_amount" />
          </div>
        </div>
      </div> <!-- end row -->

      <div class="row my-2">
        <div class="col-12 my-2">
          <h3 class="text-center my-2">Stuðull </h3>
        </div>
        <div class="col-12">
          <div class="card-deck">

            <div v-for="(item, index) in category" :key="index" class="card">
              <div class="card-header">
                <div class="input-group input-group-lg">
                  <input v-model="item.ratio" class="form-control"/>
                </div>
              </div>
              <div class="card-block">
                <button type="button" v-if="index != 0" v-on:click="increment(index)" class="btn btn-sm btn-success" aria-label="Left Align">+</button>
                <button type="button" v-if="index != 0" v-on:click="decrement(index)" class="btn btn-sm btn-danger" aria-label="Left Align">-</button>
                <hr />
                <h5 class="text-muted">{{totalSalary * item.ratio| currency('', 0)}}</h5>
                <hr />
                <p class="card-text">{{item.jobs}}</p>
              </div>
            </div>

          </div>
        </div><!-- col-12 -->
      </div> <!-- row -->

    </div> <!-- cont -->
  </body>
  <script type="text/javascript" charset="utf-8" src="index.js"></script>
</html>
