<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Launastuðull</title>
    <script type="text/javascript" src="https://unpkg.com/vue@2.7.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue2-filters/0.1.9/vue2-filters.min.js"></script>
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="css.css" crossorigin="anonymous">

  </head>
  <body>
    <div class="container" id="app">

      <div class="row">
        <div class="col">
          <h2 class="text-center my-2">Launastuðull</h2>
          <p>Lágmarkslaun á Íslandi eru um <b>257.000 ISK</b> á mánuði.</p>
          <p>Hvað ef laun allra opinberra starfsmanna væru tengd, þannig að ekki væri hægt að hækka launs ákveðins hóps, nema hækka laun allra?
          Fyrst þyrfti að ákveða "stuðul", sem lýsir hversu mikill munur er innbyrðis á milli stétta.</p>
          <p>Fyrir neðan eru einföld <b>dæmi</b>.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 my-2">
          <label for="original_amount">Hér geturu breytt lágmarkslaunum.</label><br />
          <button v-for="item in examples" class="btn btn-sm btn-secondary" v-on:click="updateTotalSal(item.price)" data-toggle="tooltip" data-placement="top" title="Select minimum wage as the base of all others salary">{{ item.price }}</button>
          <input class="form-control" type="range" min="257000" max="2000000" v-model="totalSalary" />
          <div class="input-group input-group">
            <span class="input-group-addon">Kr</span>
            <input type="number" class="form-control" v-model="totalSalary" placeholder="Original Amount" id="original_amount" />
          </div>
        </div>
      </div> <!-- end row -->

      <div class="row my-2">
        <div class="col-12 my-2">
          <h3 class="text-center my-2">Stuðull </h3>
        </div>
      </div>
      <div class="row">

        <div v-for="(item, index) in category" :key="index" class="col m-2 outline">
          <div class="card-header">
            <input v-if="index == 0" placeholder="1" disabled type="number" class="text-center form-control" style="font-size=20px" />
            <input v-else v-model="item.ratio" type="number" class="text-center form-control" style="font-size=20px"/>
          </div>
          <div class="card-block">
            <button type="button" v-if="index != 0" v-on:click="increment(index)" class="btn btn-success" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Increment by + 0.1">+</button>
            <button type="button" v-if="index != 0" v-on:click="decrement(index)" class="btn btn-danger"  aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Decrement by - 0.1">-</button>
            <input class="form-control" type="range" min="0" max="12" v-model="item.ratio" />
            <hr />
            <h5 class="">{{totalSalary * item.ratio| currency('', 0)}}</h5>
            <hr />
            <p class="card-text">{{item.jobs}}</p>
          </div>
        </div>

      </div> <!-- row -->

      <div class="text-center my-2">
        <h5>Heimildir</h5>
        <a href="https://www.althingi.is/thingmenn/starfskjor-althingismanna/thingfararkaup-laun-thingmanna/">https://www.althingi.is/thingmenn/starfskjor-althingismanna/thingfararkaup-laun-thingmanna/</a><br />
        <a href="http://www.kjararad.is/frettir/nr/111">http://www.kjararad.is/frettir/nr/111</a><br />
        <h5 class="my-2">Meira:</h5>
        <a href="https://viktorsmari.github.io/tax-calculator/">Skattareiknivél sem reiknar skattþrep (í vinnslu)</a>
        <hr />
        <i><p>Þetta er frjáls og opinn kóði. Fyrir leiðréttingar og ábendingar er hægt að nota Github:</p></i>
        <a href="https://github.com/viktorsmari/launastudull">https://github.com/viktorsmari/launastudull</a>
      </div>
    </div> <!-- cont -->
  </body>
  <script type="text/javascript" charset="utf-8" src="index.js"></script>
</html>
